.menuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    gap: 0.5rem;
    border-radius: 5px;
}

.menuContainer div {
    padding: .5rem;
    min-width: 7rem;
}

.menuContainer div:hover {
    background-color: rgb(218, 220, 222);
}

.rename:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.delete:hover {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.delete {
    color: red;
}