.container {
    margin: 1rem;
}

.header {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    border-bottom: 2px solid #ccc9c9;
}

.headingText {
    font-size: 2rem;
    cursor: pointer;
    opacity: .5;
}

.activeHeading {
    opacity: 1;
}

.arrowIcon {
    width: 2rem;
    height: 2rem;
    transform: rotate(270deg);
    cursor: pointer;
}

.disable {
    opacity: 0.5;
    cursor: auto;
}

.body {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
}